body{
    background-color: gray;
    color: white;
}
header{
    background-color: navy;
    text-align: center;
}
section{
    background-color: brown;
    width: fit-content;
    margin: 100px 0 100px 0;

}
footer{
    background-color: navy;
    text-align: center;
}